{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>login or sign up - Swiss OffShore</title>
</head>
<body>
    <div class="brand">
        <img src="/static/image/SWISS.png" alt="logo">
    </div>

    <div class="auth">
        <ul>
            <li><a href="{% url 'login' %}">login</a></li>
            <hr>
            <li><a href="#">register</a></li>
        </ul>
    </div>

    <div class="book">
        <div class="strong bd">Offshore banking</div>
        <div class="strong lg">
            <span>
                An offshore bank is a bank regulated under international banking license. <br> which usually prohibits the bank from establishing any business activities in the jurisdiction of establishment. <br> Due to less regulation and transparency, accounts with offshore banks were often used to hide undeclared income. <br> Since the 1980s, jurisdictions that provide financial services to nonresidents on a big scale, can be referred to as offshore financial centres. <br> OFCs often also levy little or no corporation tax and/or personal income and high direct taxes such as duty, making the cost of living high.
            </span>
        </div>
    </div>
    
</body>
</html>